<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" value="${ abstract }" />
    <meta name="keywords" value="Science, Biology, Medicine, Drugs, Diseases, ${ keywords }" />
    <title>${ title }</title>
  </head>
  <body style="margin: 0; padding: 0;">
    <div style="display: none;" id="article_info">
      <h2>Google Ads for PubMed Article ${ pmid }</h2>
      <h3>Title</h3>
      <p>${ title | h }</p>
      <h3>Authors</h3>
      <p>${ authors | h }</p>
      <h3>Source</h3>
      <p>${ source | h }</p>
      <h3>Abstract</h3>
      <p>${ abstract | h }</p>
      <h3>Keywords</h3>
      <p>Science, Biology, Medicine, Drugs, Diseases, ${ keywords | h}</p>
    </div>
    <div id="google_adsense">
    <script type="text/javascript"><!--
                                             google_ad_client = "pub-2214881611510596";
                                             /* 336x280, created 8/6/08 */
                                             google_ad_slot = "2003606962";
                                             google_ad_width = 336;
                                             google_ad_height = 280;
                                             //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
  </body>
</html>
