<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pubmedos.css">
  </head>
  <body>
    <div id="doc3">
      <div id="bd">
        {% if success %}
        <p>Your PubMed On Steroids account has been activated. Go to <a href="http://www.pubmed.gov/">PubMed</a> to start using PMOS!</p>
        {% else %}
        <p>Your PubMed On Steroids account cannot be activated. Click <a href="mailto:support@pubmedos.org">here</a> to contact PMOS technical support!</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
