<%inherit file="/app/base.html"/>

this is the body content.

<%
    rows = [[v for v in range(0,10)] for row in range(0,10)]
%>
<table>
    % for row in rows:
        ${makerow(row)}
    % endfor
</table>

<%def name="makerow(row)">
    <tr>
    % for name in row:
        <td>${name}</td>\
    % endfor
    </tr>
</%def>

<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>PubMed on Steroids</title>
  </head>
  <body>
    <div id="doc">
      <div id="hd" onclick="document.location.href='/'">
        <h1><img src="/images/pubmed-logo.png" height="64" /> On Steroids</h1>
        <p>Turn PubMed into a personal reference manager, digital reprint archive, and more&hellip;</p>
      </div>
      <div id="bd" class="yui-gb">
        <div class="yui-u first" id="watch" onclick="document.location.href='http://www.youtube.com/'">
          <h2>WATCH</h2>
          <p>a short video</p>
        </div>
        <div class="yui-u" id="install" onclick="document.location.href='https://addons.mozilla.org/en-US/firefox/browse/type:7'">
          <h2>INSTALL</h2>
          <p>the Firefox plugin</p>
        </div>
        <div class="yui-u" id="enjoy" onclick="document.location.href='http://www.pubmed.gov/'">
          <h2>ENJOY</h2>
          <p>PubMed On Steroids!</p>
        </div>
      </div>
      <div id="ft">
        <p>&copy; 2008 Edoardo &quot;Dado&quot; Marcora &sdot; <a href="/about">About</a> &sdot; <a href="/help">Help</a> &sdot; <a href="/terms">Terms</a> &sdot; <a href="/privacy">Privacy</a></p>
      </div>
    </div>
  </body>
</html>
-->
