<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pubmedos.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type="text/javascript">

$(document).ready(function(){

});

    </script>
  </head>
  <body>
    <div id="doc3">
      <div id="bd">
        <h2>Registration</h2>
        <form method="POST">
          <table>
            <tr>
              <td class="label"><label for="username">Username</label></td>
              <td class="input"><span id="username">{{ username }}</span></td>
            </tr>
            <tr>
              <td class="label"><label for="email">E-mail</label></td>
              <td class="input"><input type="text" name="email" id="email" /></td>
            </tr>
            <tr>
              <td class="label"><label for="email_confirm">E-mail (confirm)</label></td>
              <td class="input"><input type="text" name="email_confirm" id="email_confirm" /></td>
            </tr>
            <tr>
              <td class="label"><label for="web">Web</label></td>
              <td class="input">http://<input type="text" name="web" id="web" /></td>
            </tr>
            <tr>
              <td class="label"><label for="picture">Picture</label></td>
              <td class="input"><input type="file" name="picture" id="picture" /></td>
            </tr>
            <tr>
              <td class="label"><label for="salutation">Salutation</label></td>
              <td class="input">
                <select name="salutation" id="salutation">
                  <option value="">&nbsp;</option>
                  <option value="Mr">Mr</option>
                  <option value="Ms">Ms</option>
                  <option value="Dr">Dr</option>
                  <option value="Prof">Prof</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="label"><label for="last_name">Last name</label></td>
              <td class="input"><input type="text" name="last_name" id="last_name" /></td>
            </tr>
            <tr>
              <td class="label"><label for="first_name">First name</label></td>
              <td class="input"><input type="text" name="first_name" id="first_name" /></td>
            </tr>
            <tr>
              <td class="label"><label for="middle_name">Middle name</label></td>
              <td class="input"><input type="text" name="middle_name" id="middle_name" /></td>
            </tr>
            <tr>
              <td class="label"><label for="suffix">Suffix</label></td>
              <td class="input">
                <select name="suffix" id="suffix">
                  <option value="">&nbsp;</option>
                  <option value="Jr">Jr</option>
                  <option value="Sr">Sr</option>
                  <option value="2nd">II</option>
                  <option value="3rd">III</option>
                  <option value="4th">IV</option>
                </select>
              </td>
            </tr>
              <td class="label"><label for="affiliation">Affiliation</label></td>
              <td class="input"><input type="text" name="affiliation_name" />
                <select name="affiliation_type">
                  <option value="">&nbsp;</option>
                  <option value="1">Academic/Educational</option>
                  <option value="2">Medical</option>
                  <option value="3">Biotech/Pharma</option>
                  <option value="4">Government</option>
                  <option value="5">Other</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="label"><label for="position">Position</label></td>
              <td class="input">
                <select name="position" id="position">
                  <option value="">&nbsp;</option>
                  <option value="1">Student (Undergraduate)</option>
                  <option value="2">Student (Graduate)</option>
                  <option value="3">Student (Other)</option>
                  <option value="4">Postdoc</option>
                  <option value="5">Professor (Assistant)</option>
                  <option value="6">Professor (Associate)</option>
                  <option value="7">Professor (Full)</option>
                  <option value="8">Professor (Emeritus)</option>
                  <option value="9">Professor (Other)</option>
                  <option value="9">Doctor (Medicine)</option>
                  <option value="9">Dentist</option>
                  <option value="9">Nurse</option>
                  <option value="9">Pharmacist</option>
                  <option value="9">Veterinarian</option>
                  <option value="10">Staff (Managerial)</option>
                  <option value="11">Staff (Technical)</option>
                  <option value="11">Staff (Other)</option>
                  <option value="12">Scientist (Junior)</option>
                  <option value="13">Scientist (Senior)</option>
                  <option value="14">Scientist (Chief)</option>
                  <option value="15">Scientist (Other)</option>
                  <option value="16">Executive (Junior)</option>
                  <option value="17">Executive (Senior)</option>
                  <option value="18">Executive (Chief)</option>
                  <option value="19">Executive (Other)</option>
                  <option value="20">Other</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="Submit" /> <input type="button" value="Cancel" /></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
