<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>PubMed on Steroids: Terms</title>
  </head>
  <body>
    <div id="doc">
      <div id="hd" onclick="document.location.href='/'">
        <h1><img src="/images/pubmed-logo.png" height="64" /> On Steroids</h1>
        <p>Turn PubMed into a personal reference manager, digital reprint archive, and more&hellip;</p>
      </div>
      <div id="bd" class="yui-gb">
        <div class="yui-u first">
          &nbsp;
        </div>
        <div class="yui-u" id="content">
          <h2>TERMS</h2>
          <p>XXX</p>
        </div>
        <div class="yui-u">
          &nbsp;
        </div>
      </div>
      <div id="ft">
        <p>&copy; 2008 Edoardo &quot;Dado&quot; Marcora &sdot; <a href="/about">About</a> &sdot; <a href="/help">Help</a> &sdot; <a href="/terms">Terms</a> &sdot; <a href="/privacy">Privacy</a></p>
      </div>
    </div>
  </body>
</html>
